.BottomNavigation{
    position: sticky;
    height: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    z-index: 10000;
    background-color: antiquewhite !important;
    width: min(100%, 100%);
    margin: 0 auto;
    border-top: 2px solid black;
}