.FAQ{
    width: min(100% - 2rem, 100% - 2rem);
    margin: 2rem auto;
    margin-bottom: 3rem;
    height: 96vh;
    border-radius: 8px;
    background-color:#128C7E;
    border-radius: .5rem;
    overflow: hidden;
    overflow-y: scroll;
}

