.FAQCard{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: .5rem;
}

.FAQQuestionCard{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    width: min(50%, 50%);
    margin: .7rem;
    
}

.FAQAnswerCard{
    align-self: flex-end;
    display: flex;
    width: min(50%, 50%);
    flex-direction: row-reverse;
}

.FAQAnswer, .FAQQuestion{
    background-color: rgba(0,0,0, .5);
    color: antiquewhite;
    padding: .5rem;
    flex: 1;
    font-size: 1rem;
    border-radius: 1rem 0rem 1rem 1rem;
    max-width: fit-content;
}

@supports ( -webkit-backfrop-filter: none) or (backdrop-filter: none){
    .FAQAnswer, .FAQQuestion{
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }
}


.Avatar{
}



.FAQQuestion{
    font-weight: 700;
    border-radius: 0rem 1rem 1rem 1rem;

}


@media (max-width: 60em){
    .FAQQuestionCard, .FAQAnswerCard{
        width:min(70%, 70%);
    }
}
