App{
    width: min(var(max-width), 100% - 4rem);
    margin-inline:auto;
    background: linear-gradient(to bottom right, #cc95c0, #dbd4b4, #7aa1d2);
    background-repeat: no-repeat;
    height: 100vh;
    background: antiquewhite;
}

.MainContent{
    height: 100vh;
    overflow-y: scroll;
}

